@import 'include/lib.magnific-popup.scss';
@import 'include/lib.fontawesome.scss';
@import 'include/reset.scss';
@import 'include/vars.scss';
@import 'include/animations.scss';
@import 'include/grid.scss';


html {
  scroll-behavior: smooth;
}
body{
	min-width: 320px;
	font-family: $OpenSans;
}
/////// STYLE SCROLLBAR

::-webkit-scrollbar-track
{
	border: 1px solid inherit;
	background-color: #F5F5F5;
}
::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
	background-color: rgba(25,25,25,.8);
}

///////////////////////////

section{
	padding: 70px 0;
}

@import 'include/preloader.scss';

@import 'include/header.scss';

.row-sect{
	height: 100%;
	padding-bottom: 50px;
	text-align: center;
	h2{
		text-transform: uppercase;
		font: 400 30px/31px $OpenSans;
		letter-spacing: 2px;
		margin: 0 0 20px;
		display: inline-block;
		position: relative;
		&:after{
			display: block;
			content: "";
			height: 1px;
			width: 100%;
			background-color: black;
			position: absolute;
			margin-top: 15px;
		}
	}
}

///////////// Section ABOUT ME

@import 'include/about.scss';

/////////// Section SKILLS

@import 'include/skills.scss';


/////////// Section PORTFOLIO

@import 'include/portfolio.scss';

/////////// Section CONTACT

@import 'include/contact.scss';

@import 'include/footer.scss';

@import 'include/media.scss';