@import "variable.scss";
@import "grid.scss";

body{
	min-width: 320px;
	font-family: $OpenSans;
}
section{
	padding: 70px 0;
}

@keyframes up-and-down {
  50% {transform: translateY(-20px);}
}

.loader{
	background: rgba(52, 73, 94, 1) no-repeat scroll;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	position: fixed;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	.preloader-dots{
		height: 50px;
	  	width: 80px;
	  	.dot{
				display: inline-block;
			  background: #fff;
			  height: 8px;
			  width: 8px;
			  opacity: 0.3;
			  border-radius: 50%;
			  animation: up-and-down 1s infinite;
			  &:nth-child(2){
					animation-delay: .1s;
			  }
			  &:nth-child(3){
					animation-delay: .2s;
			  }
			  &:nth-child(4){
					animation-delay: .35s;
			  }
			  &:nth-child(5){
					animation-delay: .4s;
			  }
	  	}
	}
}

.main_head{
	height: 100vh;
	max-height: 800px;
	position: relative;
	background-size: cover;
	overflow: hidden;
	text-align: center;
	background-image: url("../img/bg/bg-header(lrg).jpg");
}
.logo_container{
	float: left;
}
.toggle_menu{
	float: right;
	width: 60px;
	height: 60px;
	background-color: $main-color;
	position: fixed;
	right: 40px;
	top: 40px;
	z-index: 200;
	border: none;
	.burger{
		position: absolute;
		top:5px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 40px;
		height: 30px;
		.band-burg{
			position: relative;
			width: $w;
			height: $h;
			background: #fff;
			border: none;
			border-radius: 4px;
			display: block;
		}
		.band-burg-1{
			top: 0;
			transition: transform 0.2s, top 0.1s;
		}
		.band-burg-2{
			top: $h*2;
			transition: transform 0.2s, top 0.1s;
    		transition-delay: 0.2s, 0s;
		}
		.band-burg-3{
			top: $h*4;
			transition: all 0.2s;
    		transition-delay: 0.1s;
		}
	}
	.burger.active{
		.band-burg-1{
			top: 13px;
			transform: rotate(135deg);
		}
		.band-burg-2{
			top: 10px;
			transform: rotate(-135deg);
		}
		.band-burg-3{
			opacity: 0;
		    top: 0;
		    transform: rotate(360deg);
		}
	}
}
.top_menu{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(4,4,4,.9);
	z-index: 150;
	top: 0;
	right: 0;
	display: none;
	.menu{
		text-align: center;
		position: relative;
		height: 100%;
		li{
			position: absolute;
			text-align: center;
			width: 100%;
			.item-list-mt{
				display: inline-block;
				position: relative;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: .2em;
				font: 300 32px/60px $OpenSans;
				transition: all 350ms cubic-bezier(.215,.61,.215,1);
				&::before{
					z-index: -1;
					transition: all 350ms cubic-bezier(.215,.61,.215,1);
					background-color: $spec_color;
					display: block;
					content: "";
					height: 2px;
					width: 200%;
					position: absolute;
					top: 50%;
					left: -300%;
					opacity: 0;
				}
				&:hover{
					letter-spacing: .4em;
					color: $spec_color;
					font-weight: 400;
				}
				&:hover::before{
					width: 110%;
			    opacity: 1;
			    left: -10%;
				}
			}
		}
		li.m-1{
			top: 15%;
		}
		li.m-2{
			top: 25%;
		}
		li.m-3{
			top: 35%;
		}
		li.m-4{
			top: 45%;
		}
		li.top_menu-social{
			font: 700 1em/26px $OpenSans;
			letter-spacing: .1em;
			color: rgba(111, 114, 118, 1);
			margin: 0;
			padding: 0;
			text-transform: uppercase;
			top: 60%;
			ul{
				margin: 1em 0 0;
				li{
					position: static;
					display: inline-block;
					margin: 0;
					width: 60px;
					height: 60px;
					letter-spacing: 0;
					a{
						display: block;
						line-height: 60px;
						background-color: transparent;
						color: #fff;
						transition: all 350ms cubic-bezier(.215,.61,.215,1);
						&:hover{
							border-radius: 50%;
							background-color: $spec_color;
					}
						i{
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}
}
.top_intro_wrapper{
	position: absolute;
	top: 0;
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	.top_intro_center{
		display: inline-block;
		margin: 0 20px;
		h1{
			border: 8px solid #fff;
			color: #fff;
			padding: 10px 35px;
			text-transform: uppercase;
			animation-delay: .5s;
			font: 700 3em/60px $OpenSans;
		}
		p{
			font: 700 1em/40px $OpenSans;
			margin-top: 1em;
			color: #6b6b6b;;
			text-transform: uppercase;
			letter-spacing: .2em;
			animation-delay: 1s;
		}
	}
}

.row-sect{
	height: 100%;
	padding-bottom: 50px;
	text-align: center;
	h2{
		text-transform: uppercase;
		font: 400 30px/31px $OpenSans;
		letter-spacing: 2px;
		margin: 0 0 20px;
		display: inline-block;
		position: relative;
		&:after{
			display: block;
			content: "";
			height: 1px;
			width: 100%;
			background-color: black;
			position: absolute;
			margin-top: 15px;
		}
	}
}

///////////// Section ABOUT ME

.about_wrapper{
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
	&__left{
		width: 48%;
		p{
			margin-bottom: 30px;
			font: 400 16px/26px $OpenSans;
	    color: $dark_text-color;
		}
		p:last-child{
			margin-bottom: 0;
		}
		.about_main{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 2px;
				height: 100%;
				background-color: #333333;
				top: 0;
				left: 50%;
			}
			.about_img{
				display: flex;
				justify-content: flex-end;
				width: 45%;
				img{
					max-width: 200px;
					width: 100%;
    			height: 100%;
					border-radius: 50%;
				}
			}
			.about_list{
				width: 45%;
				display: flex;
				justify-content: flex-start;
				li{
					margin-bottom: 10px;
					font: 400 18px/30px $OpenSans;
					color: $dark_text-color;
					letter-spacing: 1px;
				}
				li:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	&__right{
		width: 48%;
		p{
			margin-bottom: 30px;
			font: 400 16px/26px $OpenSans;
			color: $dark_text-color;
			padding-bottom: 30px;
			border-bottom: 1px solid #ccc;
		}
		p:last-child{
			margin-bottom: 0;
			border-bottom: none;
		}
	}
}

/////////// Section SKILLS

.skills_wrapper{
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
	flex-direction: column; // v 1.2
}
// .skills_descr{
// 	width: 48%;
// 	font: 400 16px/26px $OpenSans;
// 	color: $dark_text-color;
// 	p:not(:last-child){
// 		margin-bottom: 15px;
// 	}
// }
//////////// v 1.2
.skills_elem{ 
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	p{
		width: 48%;
		font: 400 16px/26px $OpenSans;
		color: $dark_text-color;
	}
}
.skills_elem:last-child{
	margin-bottom: 0;
}
/////////// end v 1.2

.skills_bars{
	width: 48%;
}
.skillbar{
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:25px;
	transition:0.4s linear;
	transition-property:width, background-color;
	.skillbar-title{
		position:absolute;
		top:0;
		left:0;
		font-weight:bold;
		font-size:13px;
		color:#fff;
		span{
			font-family: $OpenSans;
			font-weight: 400;
			display:block;
			padding:0 10px;
			height:25px;
			line-height:25px;
		}
	}
	.skillbar-bar{
		height:25px;
		width:0px;
		background:rgba(46, 204, 113,1.0);
	}
		.skill-bar-percent{
		position:absolute;
		right:10px;
		top:0;
		font-size:11px;
		height:35px;
		line-height:35px;
		color:#444;
		color:rgba(0, 0, 0, 0.5);
	}
}


/////////// Section PORTFOLIO

.s_portfolio{
	overflow: hidden;
	h2{
		&:after{
			background-color: #fff;
		}
	}
	ul,li{
		text-align: center;
	}
	li{
		display: inline-block;
		text-transform: uppercase;
		font: 300 12px/24px $OpenSans;
		letter-spacing: .2em;
		margin: 0 10px;
		cursor: pointer;
		color: #555;
		&.active{
			color: #fff;
			border-bottom: $spec_color 1px solid;
		}
	}
	ul{
		margin-bottom: 50px;
	}
}
.portfolio_wrapper{
	display: flex;
	flex-wrap: wrap;
}
.portfolio_item{
	// display: none;
	width: 23%;
	position: relative;
	margin:0 1% 30px;
	img{
		width: 100%;
	}
	&:hover .work_hover{
		opacity: 1;
		padding-top: 25%;
	}
	.work_hover{
		position: absolute;
		top: 0;
		text-align: center;
		background-color: rgba(0,0,0,.8);
		width: 100%;
		height: 100%;
		padding-top: 15%;
		opacity: 0;
		transition: all .6s;
		h3{
			color: $light_text-color;
			font: 400 1.5em/1.5em $OpenSans;
			letter-spacing: .1em;
		}
		p{
			margin-top: 5%;
			color: $light_text-color;
			font: 300 1em/2em $OpenSans;
			letter-spacing: .1em;
		}
		a{
			margin-top: 10%;
			background-color: transparent;
			border: 1px solid $spec_color;
			color: $spec_color;
			padding: 5px 20px;
			font: 400 1em/1.5em $OpenSans;
			display: inline-block;
			transition: all .3s;
			text-transform: uppercase;
			letter-spacing: 2px;
			&:hover{
				color: #fff;
				background-color: $spec_color;
				border: 1px solid #138A56;
			}
		}
	}
}

.work_descr{
	position: relative;
	background: rgb(230,230,230);
	padding: 20px;
	width: auto;
	max-width: 700px;
	margin: 20px auto;
}
.work-header{
	text-align: center;
	h3{
		display: inline-block;
		font: 400 2em/2.5em $OpenSans;
		letter-spacing: 1px;
		color: $dark_text-color;
		padding-bottom: 0.2em;
		margin-bottom: 1em;
		text-align: center;
		border-bottom: 1px solid $spec_color;
	}
}
.work-body{
	p{
		font: 300 1.2em/26px $OpenSans;
		margin-bottom: 1em;
		color: $dark_text-color;
	}
	.work-body-img{
		width: 100%;
		text-align: center;
		img{
			display: inline-block;
			width: 100%;
		}
	}
}
.work-footer{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	a{
		padding: 15px 30px;
		background-color: $spec_color;
		width: 47%;
		text-align: center;
		color: #fff;
		font: 400 1.5em/1.5em $OpenSans;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-radius: 10px;
		display: inline-flex;
			justify-content: center;
			transition: .3s ease-out;
		i{
			margin-left: 10px;
			font-size: 1.5em;
		}
		&:hover{
			background-color: #138A56;
		}
	}
}

/////////// Section CONTACT

.form_wrapper-contact{
	form{
		max-width: 600px;
		padding: 0 15px;
		margin: 0 auto;
		text-align: center;
		input, textarea{
			margin-bottom: 1.5em;
			padding: 10px;
		}
		label{
			padding: 0 0 5px 5px;
			text-align: left;
			color: $dark_text-color;
			display: block;
			span{
				color: #e74c3c;
				font-size: 1.2em;
			}
		}
		.input-email{
			padding-bottom: 10px; 
		}
		.input-submit{
			display: inline-block;
			input[type="submit"]{
				margin-bottom: 0;
				background: $spec_color;
				border: none;
				padding: 10px 25px;
				font-size: 1.5em;
				color: white;
				transition: all 0.3s;
				&:hover{
					background-color: #138A56;
				}
			}
		}
		.descr-form-type{
			margin-top: 3em;
			h3{
				font-size: 1.1em;
				color: black;
				text-align: left;
				margin-bottom: 20px;
			}
			p{
				text-align: left;
				padding: 0;
				margin-bottom: 20px;
				font-size: 12px;
			}
		}
	}
}

.link_contact{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	a{
		color: #fff;
		width: 100%;
		height: 100%;
		transition: all .5s;
		h5{
			font: 300 1.5em/26px $OpenSans;
			letter-spacing: .1em;
			padding: 20px;
			border: none;
			text-transform: uppercase;
		}
		&:hover{
			background-color: $spec_color;
		}
	}
}

.contact-message{
	display: none;
	text-align: center;
	h2{
		color:#fff;
		&:after{
			background-color: #fff;
		}
	}
	input{
		background: none;
		color: #fff;
		border: 1px solid #fff;
	}
}

.form_wrapper{
	form{
		max-width: 600px;
		padding: 0 15px;
		margin: 0 auto;
		text-align: center;
		input, textarea{
			margin-bottom: 1.5em;
			padding: 10px;
		}
		input{
			background:rgba(35, 152, 104,1.0);
			border: none;
		}
		textarea{
			background:rgba(35, 152, 104,1.0);
			border: none;
			color: rgba(255,255,255,.7);
		}
		select{
				background: rgba(35, 152, 104,1.0);
				color: rgba(255,255,255,.7);
				border: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				padding: 10px;
			option{
				border: inherit;
				color: inherit;
				outline: none;
			}
		}
		input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color: rgba(255,255,255,.7);
		}
		input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   		color: rgba(255,255,255,.7);
   		opacity: 1;
		}
		input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   		color: rgba(255,255,255,.7);
   		opacity: 1;
		}
		input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
   		color: rgba(255,255,255,.7);
		}
		label{
			padding: 0 0 5px 5px;
			text-align: left;
			color: #fff;
			display: block;
			span{
				color: #e74c3c;
				font-size: 1.2em;
			}
		}
		p{
			display: block;
			text-align: left;
			color: #fff;
			margin-bottom: 10px;
		}
		.input-email{
			padding-bottom: 10px; 
		}
		.input-submit{
			display: inline-block;
			input[type="submit"]{
				margin-bottom: 0;
				background: $spec_color;
				border: 1px solid #fff;
				padding: 10px 25px;
				font-size: 1.5em;
				color: white;
				transition: all 0.3s;
				&:hover{
					background-color: #fff;
					color: rgba(35, 152, 104,1.0);
				}
			}
		}
		.descr-form-type{
			margin-top: 3em;
			h3{
				font-size: 1.1em;
				color: #fff;
				text-align: left;
				margin-bottom: 20px;
			}
			p{
				text-align: left;
				padding: 0;
				margin-bottom: 20px;
				font-size: 12px;
			}
		}
	}
}

.close-button{
	margin-top: 30px;
	width: 30px;
	height: 30px;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	transition: all .5s;
	&:after, &:before{
		width: 30px;
		height: 3px;
		transform: rotate(-45deg);
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -15px;
		display: block;
		background-color: #fff;
		transition: all 0.2s ease-out;
	}
	&:after{
		transform: rotate(45deg);
	}
	&:hover{
		transform: rotate(90deg);
	}
}

.ft-header{
	color: $light_text-color;
}
.ft-group-addr{
	float: left;
	height: 75px;
	display: flex;
	align-items: center;
	margin-left: 30px;
	color: #8c8c8c;
	p{
		font: 300 11px/16px $OpenSans;
		a{
			color: #8c8c8c;
		}
	}
}
.ft-group-social{
	float: right;
	li{
		float: left;
		font-size: 1.5em;
		display: block;
		height: 75px;
		width: 75px;
		position: relative;
		transition: all .6s;
		&:nth-child(1){
			background-color: #141414;
		}
		&:nth-child(2){
			background-color: #232323;
		}
		&:nth-child(3){
			background-color: #2E2E2E;
		}
		&:nth-child(4){
			background-color: #424141;
		}
		&:nth-child(5){
			background-color: #555555;
		}
		a{
			position: relative;
			height: 100%;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: white;
			transition: all .6s;
		}
		&:hover {
			background-color: #fff;
		}
		&:hover a{
			color: black;
		}
	}
}

.ft-section{
	width: 33.3%;
	float: left;
	padding: 30px;
	display: block;
	.title{
		font: 300 13px/16px $OpenSans;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-bottom: 20px;
		color: #8c8c8c;
	}
	p{
		font: 300 11px/16px $OpenSans;
		margin: 20px 0;
		color: #8c8c8c;
		a{
			color: inherit;
			text-transform: uppercase;
		}
	}
	input{
		background: none;
		font-size: 12px;
		&[type="email"]{
			padding: 10px;
			margin-bottom: 20px;
			border: 1px solid rgba(255,255,255,.5);
			transition: .3s all;
			&:focus{
				transform: scale(1.05, 1.05);
			}
		}
		&[type="submit"]{
			padding: 10px 30px;
			border: 2px solid rgba(255,255,255, 1);
			transition: all .3s;
			&:hover{
				background-color: #fff;
				color: black;
			}
		}
	}
}

.ft-footer{
	padding: 15px 20px;
	text-align: center;
	p, a{
		font: 300 11px/16px $OpenSans;
		color: #6b6b6b;
	}
}