.about_wrapper{
	display: flex;
	justify-content: space-between;
	padding:0 50px 50px;
	&__left{
		width: 48%;
		p{
			margin-bottom: 30px;
			font: 400 16px/26px $OpenSans;
	    color: $dark_text-color;
		}
		p:last-child{
			margin-bottom: 0;
		}
		.about_main{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 30px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				width: 2px;
				height: 100%;
				background-color: #333333;
				top: 0;
				left: 48%;
			}
			.about_img{
				display: flex;
				justify-content: flex-end;
				width: 45%;
				img{
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			}
			.about_list{
				width: 45%;
				display: flex;
				justify-content: flex-start;
				li{
					margin-bottom: 10px;
					font: 400 18px/30px $OpenSans;
					color: $dark_text-color;
					letter-spacing: 1px;
				}
				li:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
	&__right{
		width: 48%;
		p{
			margin-bottom: 20px;
			font: 400 16px/26px $OpenSans;
			color: $dark_text-color;
			padding-bottom: 20px;
			border-bottom: 1px solid #ccc;
		}
		p:last-child{
			margin-bottom: 0;
			border-bottom: none;
		}
	}
}