.form_wrapper-contact{
	form{
		max-width: 600px;
		padding: 0 15px;
		margin: 0 auto;
		text-align: center;
		input, textarea{
			margin-bottom: 1.5em;
			padding: 10px;
			line-height: 20px;
		}
		label{
			padding: 0 0 5px 5px;
			text-align: left;
			color: $dark_text-color;
			display: block;
			span{
				color: #e74c3c;
				font-size: 1.2em;
			}
		}
		.input-email{
			padding-bottom: 10px; 
		}
		.input-submit{
			display: inline-block;
			position: relative;
			span{
				display: none;
				position: absolute;
				width: 25px;
				height: 25px;
				right: -35px;
				top: 8px;
				background: url('../img/form_access_first.png') no-repeat;
				background-size: cover;
			}
			input[type="submit"]{
				margin-bottom: 0;
				background: $spec_color;
				border: none;
				padding: 10px 25px;
				font-size: 1.5em;
				color: white;
				transition: all 0.3s;
				&:hover{
					background-color: #138A56;
				}
			}
		}
		.descr-form-type{
			margin-top: 3em;
			h3{
				font-size: 1.1em;
				color: black;
				text-align: left;
				margin-bottom: 20px;
			}
			p{
				text-align: left;
				padding: 0;
				margin-bottom: 20px;
				font-size: 12px;
			}
		}
	}
	input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  	font-family: $OpenSans;
  	font-weight: 300;
	}
	input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 		font-family: $OpenSans;
 		font-weight: 300;
 		opacity: 1;
	}
	input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
 		font-family: $OpenSans;
 		font-weight: 300;
 		opacity: 1;
	}
	input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
 		font-family: $OpenSans;
 		font-weight: 300;
	}
}

//////////////////////////////////////////////

.link_contact{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	a{
		color: #fff;
		width: 100%;
		height: 100%;
		transition: all .5s;
		h5{
			font: 300 1.5em/26px $OpenSans;
			letter-spacing: .1em;
			padding: 20px;
			border: none;
			text-transform: uppercase;
		}
		&:hover{
			background-color: $spec_color;
		}
	}
}

.contact-message{
	display: none;
	text-align: center;
	h2{
		color:#fff;
		&:after{
			background-color: #fff;
		}
	}
	input{
		background: none;
		color: #fff;
		border: 1px solid #fff;
	}
}

.form_wrapper{
	form{
		max-width: 600px;
		padding: 0 15px;
		margin: 0 auto;
		text-align: center;
		input, textarea{
			margin-bottom: 20px;
			padding: 10px;
			line-height: 20px;
		}
		input{
			background:rgba(35, 152, 104,1.0);
			border: none;
		}
		textarea{
			background:rgba(35, 152, 104,1.0);
			border: none;
			color: rgba(255,255,255,.7);
		}
		select{
				background: rgba(35, 152, 104,1.0);
				color: rgba(255,255,255,.7);
				border: none;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				padding: 10px;
				line-height: 20px;
				margin-bottom: 20px;
			option{
				border: inherit;
				color: inherit;
				outline: none;
			}
		}
		input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    	color: rgba(255,255,255,.7);
    	font-family: $OpenSans;
    	font-weight: 300;
		}
		input:-moz-placeholder, textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   		color: rgba(255,255,255,.7);
   		font-family: $OpenSans;
   		font-weight: 300;
   		opacity: 1;
		}
		input::-moz-placeholder, textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   		color: rgba(255,255,255,.7);
   		font-family: $OpenSans;
   		font-weight: 300;
   		opacity: 1;
		}
		input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
   		color: rgba(255,255,255,.7);
   		font-family: $OpenSans;
   		font-weight: 300;
		}
		label{
			padding: 0 0 5px 5px;
			text-align: left;
			color: #fff;
			display: block;
			span{
				color: #e74c3c;
				font-size: 1.2em;
			}
		}
		p{
			display: block;
			text-align: left;
			color: #fff;
			margin-bottom: 20px;
		}
		.input-email{
			padding-bottom: 10px; 
		}
		.input-submit{
			display: inline-block;
			position: relative;
			span{
				display: none;
				position: absolute;
				width: 25px;
				height: 25px;
				right: -35px;
				top: 8px;
				background: url('../img/form_access_second.png') no-repeat;
				background-size: cover;
			}
			input[type="submit"]{
				margin-bottom: 0;
				background: $spec_color;
				border: 1px solid #fff;
				padding: 10px 25px;
				font-size: 1.5em;
				color: white;
				transition: all 0.3s;
				&:hover{
					background-color: #fff;
					color: rgba(35, 152, 104,1.0);
				}
			}
		}
		.descr-form-type{
			margin-top: 3em;
			h3{
				font-size: 1.1em;
				color: #fff;
				text-align: left;
				margin-bottom: 20px;
			}
			p{
				text-align: left;
				padding: 0;
				margin-bottom: 20px;
				font-size: 12px;
			}
		}
	}
}

.close-button{
	margin-top: 30px;
	width: 30px;
	height: 30px;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
	transition: all .5s;
	&:after, &:before{
		width: 30px;
		height: 3px;
		transform: rotate(-45deg);
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -15px;
		display: block;
		background-color: #fff;
		transition: all 0.2s ease-out;
	}
	&:after{
		transform: rotate(45deg);
	}
	&:hover{
		transform: rotate(90deg);
	}
}